.container {
    max-width: 960px;
}

.card {
    transition: transform 0.2s;
    border: none;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-weight: bold;
    color: #343a40;
}

.card-text {
    color: #6c757d;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.d-flex {
    display: flex;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-5 {
    margin-top: 3rem;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}
