mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  mat-dialog-content {
    display: flex;
    flex-direction: column;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
  
  button {
    margin-left: 10px;
  }
  